<nav class="navbar">
  <div class="nav-left">
    <span class="logo">Job Portal</span>
    
  
 
    <button class="link" (click)="goToJobs()">Available Jobs</button>
    <button
      class="link"
      *ngIf="isAdmin()"
      (click)="goToDashboard()">
      Admin
    </button>
    <button
      class="link"
      *ngIf="isCandidate()"
      (click)="goToAppliedJobs()">
      Applied Jobs
    </button>
    <button
      class="link"
      *ngIf="isHr()"
      (click)="goToDashboard()">
      HR
    </button>
  
  </div>
        

  <div class="nav-right">
    <span class="user-info">{{ loggedInText }}</span>
    <button class="logout" (click)="logout()">Logout</button>
  </div>
</nav>
